@font-face {
  font-family: 'DOS';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/Fixedsys500c.eot');
  src: local('☺'), url('fonts/Fixedsys500c.woff') format('woff'), url('fonts/Fixedsys500c.ttf') format('truetype'), url('fonts/Fixedsys500c.svg') format('svg');
}

.interloper-note,
.interloper-note-editor,
.interloper-note-editor-close, 
.interloper-note-editor-save {
  z-index: 1000000;
  margin: 0 0 20px;
  padding: 0 9px;
  font-size: 18px;
  color: #fff;
  visibility: visible;
  font-family: DOS,Monaco,Menlo,Consolas,"Courier New",monospace;
  line-height: 20px;
  cursor: pointer;

  position: absolute;
  background-color: #000084;
}

.interloper-note-editor-span {
  white-space: normal;
}

.interloper-note-editor-span-placeholder {
  color: #999;
}

/* FIX they have 0 width? */
.interloper-note-editor-close, 
.interloper-note-editor-save {
  position: initial;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  width: auto;
}
